Choose components to render below:
<div *ngFor="let option of options">
  <br>{{option}}
  <input type="checkbox" [value]="chosen.includes(option)" (change)="toggle(option)" />
</div>
<br>
<button (click)="shuffleContent()">Shuffle content</button>

<app-layout>
  <div body>
    <ng-template #main></ng-template>
  </div>
</app-layout>